In [1]:
import numpy as np
import pandas as pd
from pandas import Series,DataFrame
from numpy.random import randn

In [5]:
dframe = DataFrame({'key1':['x','y','z','g','h'], 'k2':[1,2,1,2,1]
                   ,'d1':np.random.randn(5)
                   ,'d2':np.random.randn(5)})
dframe

         d1        d2  k2 key1
0 -0.290531  0.592445   1    x
1  0.464786  0.239086   2    y
2 -1.418553 -0.282294   1    z
3 -0.144083 -0.186045   2    g
4 -0.163985 -0.142948   1    h

In [9]:
group1 = dframe['d1'].groupby(dframe['k2'])
group1.mean()

k2
1   -0.624356
2    0.160351
Name: d1, dtype: float64

In [12]:
dframe.groupby('k2').mean()

          d1        d2
k2
1  -0.624356  0.055734
2   0.160351  0.026520